/projects/unix/_obj*/
/projects/unix/libmupen64plus*.so*
/.vs/mupen64plus-core-rr/v16
/.vs
/projects/msvc/.vs/mupen64plus-core/v16
/projects/msvc/.vs/mupen64plus-core-rr/v16
/projects/msvc/Win32/Debug
/projects/msvc/x64/Debug
/tools
*.vcxproj.user
