/projects/unix/_obj*/
/projects/unix/libmupen64plus*.so*
/projects/unix/compile_commands.json
/.vs/mupen64plus-core-rr/v16
/.vs
/projects/msvc/.vs/
/projects/msvc/Win32/
/projects/msvc/x64/

compile_commands.json
/tools

*.vcxproj.user
/.vscode/
!/.vscode/settings.json
.cache/